body {
  margin: 0;
  background-image: url(pexels-alexander-kovalev-2847648-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}




.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 100px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: rgb(241, 236, 245);
  text-align: center;
  letter-spacing: 5px;
}

.card {
  align-self: center;
  border: 2px solid #c192d1;
  box-shadow: 0 0 20px #e4b1ed;
  width: 450px;
  height: 100px;
  border-radius: 35px;
  margin-top: 100px;


  
}

    


button {
  
  background-image: linear-gradient(to left, #da842e 0%, #d1bb80  51%, #9D50BB  100%);
  width: 20%;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 253, 253);            
  box-shadow: 0 0 20px #eee;
  border: none;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin: 30px;
  align-self: center;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  }

  button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }


p {
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  letter-spacing: 1px;
  


}


@media all and (max-width: 1300px) {
  body {
   
    height: 110vh;
  }

  h1, button, .card {
    margin-left: -100px;
  }


}


@media all and (max-width: 900px) {

  h1, button, .card {
    margin-right: -50px;
  }


}

@media all and (max-width: 540px) {

  h1 {
    font-size: 50px;
    margin: 0 auto;
    margin-top: 30px;
    
  
  }


  .card {
    margin: 0 auto;
    margin-top: 30px;


  }


  button {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;


  }

}

@media all and (max-width: 500px) {
  h1 {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .card {
    margin: 0 auto;
    margin-top: 150px;
    width: 95%;


  }



}


@media all and (max-width: 330px) {

  h1 {
    font-size: 18px;
    padding: 0;
    margin: 0 auto;
    margin-top: 40px;

    
  
  }

  .icon {
    width: 30px;

  }

  .card {
    width: 90%;
    height: 13vh;
    margin: 0 auto;
    margin: 50px;

  
  }

  p {
    font-size: 15px;
    margin-top: 20px;
  }

  button {
    margin: 0 auto;
    width: 70%;
    font-size: 12px;
  }

}